@model InternshipManagementSystemWeb.ViewModels.InternshipFormViewModel

@{
    ViewBag.Title = "Details";
}
<h2>Internship Forms</h2>

<div> 
    <hr />

    <div class="form-group">
     
        <div>
            <strong>
                @Html.DisplayFor(model => model.Name)
            </strong>
        </div>
    </div>
         <div class="form-group">

            <div>
                @Html.DisplayFor(model => model.FormUpload)
                <a href="@Url.Content(Model.FormPath)" class="btn btn-default"><span class="glyphicon glyphicon-download"></span> Download</a>
               <p>
                <input type="button" value="Back to Forms" onclick="location.href='@Url.Action("Index", "InternshipForm")';" class="btn btn-default" />
                   </p>
            </div>
        </div>
</div>

