@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title us</h2>
@*<h3> </h3>*@

<address>
    For information or concerns please contact the intenship department<br />
    <strong>Office: </strong> 388 <br />
</address>

<address>
    
    <span class="glyphicon glyphicon-phone"></span><strong> Phone: </strong>   <a href="+966 012 6666666">+966 012 6666666</a><br />
    <span class="glyphicon glyphicon-envelope"></span><strong> Email: </strong> <a href="admin@dah.edu.sa">admin@dah.edu.sa</a>
</address>

