@{
    ViewBag.Title = "Home Page";
}

<style>
    .jumbotron {
        background-color: white;
        color: #7191a0;
    }

     .jumbotron p {
            font-size: 30px;
        }
  
</style>

        <div class="container">
            <img src="~/Content/themes/base/images/dar-al-hekma-university.png" height="500" width="500" class="img-responsive center-block">
        </div>
        <div class="jumbotron text-center">
            <h2>Welome to Internship Management System</h2>
            <p class="lead">Internship Management System helps you through your internship journey. </p>
        </div>

        <div class="row">
            <div class="col-md-4">
                <h2>Announcements</h2>
                <p>
                    Find announcements about opportunities and vacancy for internship, COOP, jobs, and more. 
                </p>
                <p><a class="btn btn-default" @Html.ActionLink("Announcements", "Index", "Announcement")</a></p>
            </div>
            <div class="col-md-4">
                <h2>Companies</h2>
                <p> Find different companies and organizations where you can apply at for internship. You can also find details and informations of the company's employers.</p>
                <p><a class="btn btn-default" @Html.ActionLink("Companies", "Index", "Firm") </a></p>
            </div>
            <div class="col-md-4">
                <h2>Student Internship</h2>
                <p>All you need during your internship.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more </a></p>
            </div>
        </div>